extends ../layout

block content
	h1 post read page

	table
		tr
			th title
			td= post.title
		tr 
			th date
			td= post.date
		tr
			th content
			td= post.content

	a(href='/posts/'+post.id+'/edit'): button(type='button') edit
	br
	a(href='/posts'): button(type='button') list
	form(action='/posts/'+post.id method='post')
		input(type='hidden' name='_method' value='delete')
		button(type='submit') delete

	table
		each comment in comments
			tbody
				tr
					th date
					td= comment.date
				tr
					th content
					td= comment.content

			
	form#comment-form(action='/posts/'+post.id+'/comments' method='post')
		label(for='content') content
		textarea#content(name='content')
		button(type='submit') comment

