extends ../layout

block content
    include sidenav
    table
        tr
            th 날짜
            th 내용
            th 해쉬태그
            th 조회수
            td 

        each post in posts
            tr
                td= post.date
                td: a(href='/posts/'+post.id) #{post.title}
                td= post.hashtext
                td= post.views

                if user && user.id === difUser.id
                    td
                        form(action='/posts/'+post.id method='post')
                            input(type='hidden' name='_method' value='delete')
                            input(type='hidden' name='userId' value=user.id)
                            input(type='submit' value='삭제')
    br
    - const endPage = Math.min(_endPage, maxPage);
    if nowPage > PAGE_PER_SCREEN
        a(href='/users/'+difUser.nick+'/posts?page=1') <<
        a(href='/users/'+difUser.nick+'/posts?page='+(startPage - PAGE_PER_SCREEN)) <
    - for(let page = startPage ; page <= endPage; page++){
        if nowPage === page
            a(href='/users/'+difUser.nick+'/posts?page='+page): strong= page 
        else
            a(href='/users/'+difUser.nick+'/posts?page='+page) #{page}
    -}
    if nowPage < maxPage - maxPage % PAGE_PER_SCREEN + 1
        a(href='/users/'+difUser.nick+'/posts?page=' + (endPage+1)) >
        a(href='/users/'+difUser.nick+'/posts?page=' + maxPage) >>